---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 12h
  releaseName: traefik
  targetNamespace: traefik
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    service:
      annotations:
        load-balancer.hetzner.cloud/name: dev
        load-balancer.hetzner.cloud/location: hel1
        load-balancer.hetzner.cloud/protocol: tcp
        load-balancer.hetzner.cloud/use-private-ip: "true"
    providers:
      kubernetesGateway:
        enabled: true
    gateway:
      enabled: true
      listeners:
        web:
          port: 8000
          protocol: HTTP
          namespacePolicy: All
        websecure:
          port: 8443
          protocol: HTTPS
          namespacePolicy: All
          certificateRefs:
            - name: nelcaso-core-tls
              kind: Secret
          mode: Terminate
