---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 12h
  releaseName: traefik
  targetNamespace: traefik
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    tracing:
      serviceName: traefik
      propagation: w3c
      openTelemetry:
        address: tempo.tempo.svc.cluster.local:4317
        grpc: true
        insecure: true
      sampling: 1.0
    service:
      annotations:
        load-balancer.hetzner.cloud/name: dev
        load-balancer.hetzner.cloud/location: hel1
        load-balancer.hetzner.cloud/protocol: tcp
        load-balancer.hetzner.cloud/use-private-ip: "true"
