apiVersion: v1
kind: Service
metadata:
  name: core
  namespace: nelcaso
  labels:
    app.kubernetes.io/name: core
    app.kubernetes.io/instance: core
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: core
    app.kubernetes.io/instance: core
